body {
	overflow-y: auto;
	scrollbar-width: 0;
}

.user-message, .ai-message {
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
	overflow-wrap: break-word;
	max-width: 100%;
	clear: both;
}

.user-message {
	background-color: #00000042;
}

@keyframes pulse {
	0% { opacity: 0.5; }
	50% { opacity: 1; }
	100% { opacity: 0.5; }
}

#user-input {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
